@font-face {
  font-family: Source Code Pro;
  src: url(assets/SourceCodePro-Regular.ttf);
}

@font-face {
  font-family: Open Sans;
  src: url(assets/OpenSans-Regular.ttf);
}

html,
body {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
  // width: 100%;
  background-color: #333;
}
